# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Du_an_tot_nghiep\BeeBetaShoes-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
